fthrebody {
    background-color: white;
}
div.fixed{
    position:absolute;
    top:0;
    left:0;
    width: 1280px;
    
    
}

div.fixed img{
    max-height: 720px;
}

div#main {
    position:relative;
    top:0;
    left:0;
    width: 1280px;
    height: 720px;
    background-color: black;
    background-size: contain;
    z-index: 0;
}

div.bars{
    background-color: black;
    background-image: url(../img/SMPTE_Color_Bars_16x9.svg);
    background-size: contain;
    z-index: 100;
}

div.covers{
    /* height: 100vh; */
    background-image: none;
    position:absolute;
    top:0;
    right:0;
    background-size: cover;
    z-index: 5;
    max-height: 720px !important;
}

video.bg{
  /* height: 100vh; */
  background-image: none;
  position:absolute;
  top:400;
  right:200;
  background-size: cover;
  z-index: 4;
  max-height: 720px !important;
}

video.fg{
  /* height: 100vh; */
  background-image: none;
  position:absolute;
  top:400;
  right:200;
  background-size: cover;
  z-index: 1000;
  max-height: 720px !important;
  pointer-events: none;
}

div.overlay{
    /* height: 100vh; */
    pointer-events: none;
    max-height: 720px;
    position:absolute;
    top:0;
    left:0;
    background-size: cover;
    z-index: 7;
}
div.covers>img{
    height:100vh;
    max-height: 720px;
}

div.overlay>img{
    height:100vh;
    max-height: 720px;
    /* width: 100vw; */
    max-width: 1280px;
    /* filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.9)) blur(0px); */
    
} 
.threedee{
    pointer-events:all;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    
}

.robot{
    /* use this for camera adjustments */
    /* filter: hue-rotate(180deg) grayscale(0); */
    animation: pulse 5s infinite ease-in-out; 
}

div.background{
    position:absolute;
    top:0;
    left:0;
    width: 1280px;
    height: 720px;
    background-size: 1280px 720px;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url(../img/backgrounds/black.png);
    
    z-index: 1;
}

div.greenscreen{
    width: 1280px;
    height: 720px;
    background-color: #04F404;
    background-size: contain;
    z-index: 2;
}

div.static{
    width: 1280px;
    height: 720px;
    background-image: url(../img/overlays/static.gif);
    background-size: contain;
    z-index: 110;
    opacity: .75;
}

div.logo {
    background-image: url(../img/overlays/motherbox\ logo.png);
    z-index: 99;
}

.hidden{
    display: none;
}

div.pip{
    position:absolute;
    top:100px;
    left:100px;
    width: 500px;
    height: 300px;
    background-color: black;
    /* background-image: url(../img/overlays/static.gif); */
    
    z-index: 7;
    overflow: hidden;

}

.videoInsert {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    width:640px ;
    height:360px;
    z-index: 8;
}

@keyframes super-rainbow {
    0%   { filter: hue-rotate(180deg) blur(0px); transform: scale(1);} 
    20%  { filter: hue-rotate(72deg) blur(2px); transform: scale(1.25);}
    40%  { filter: hue-rotate(148deg) blur(4px); transform: scale(1.5);}
    60%  { filter: hue-rotate(180deg) blur(8px); transform: scale(2);}
    80%  { filter: hue-rotate(220deg) blur(10px); transform: scale(1.5);}
    100% { filter: hue-rotate(360deg) blur(12px); transform: scale(2);}
}

@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  @keyframes pulse {
	0% {
		transform: scale(1);
		
	}

	70% {
		transform: scale(1.5);
		
	}

	100% {
		transform: scale(1);
		
	}
}
